.header {
    background: var(--white);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border-bottom: 1px solid var(--cornflower);
}

.header .container {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: row;
    padding: 0 15px;
    max-width: 1158px;

}

.logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;

    /*line-height: 24px;*/ 
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0;
    margin-right: 76px;

}

.logo-akcent {
    color: var(--iris);
}

.logo-navigation {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.logo-nav {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;

    /*line-height: 24px;*/
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    padding: 24px 0px;

}
.logo-nav:hover,
.logo-nav:focus {
    color: #404bbf;
}


.logo-nav:active {
    border-radius: 2px;
        width: 65px;
        height: 4px;
background: var(--ocean);
}

.logo-address {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    margin-left: auto;

}

.address {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /*line-height: 24px;*/
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    padding: 24px 0px;

}

.address:hover,
.address:focus {
    color: #404bbf;
}