.portfolio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 120px 0px;

}

.portfolio .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
    padding: 0px 15px;
    max-width: 1158px;
}

.portfolio-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;

    /* line-height: 40px; */
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

.portfolio-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-li {
    display: block;
    /*display: flex;*/
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    min-width: 288px;
    max-width: 360px;
    background: var(--white);
}

.portfolio-blok {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid var(--cornflower);
    border-left: 1px solid var(--cornflower);
    border-right: 1px solid var(--cornflower);
    padding: 32px 16px;
    background: var(--white);
}

.portfolio-mini-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.portfolio-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

img {
    display: block;
}